@use "../../styles/abstracts/variables" as *;
@use "../../styles/abstracts/mixins" as *;

.contact {
  padding: 10rem 0;

  text-align: center;

  content: "";

  inset: 0;

  background:
    radial-gradient(circle at top left, #06b6d420, transparent 40%),
    radial-gradient(circle at bottom right, #22d3ee20, transparent 40%);

  z-index: -1;
}

.contact__container {
  width: min(90%, 900px);

  margin: 0 auto;
}

.contact h2 {
  font-size: clamp(2.5rem, 6vw, 4rem);

  margin: 1rem 0;
}

.contact__description {
  max-width: 700px;

  margin: 0 auto;

  color: $text-secondary;
}

.contact__actions {
  margin-top: 3rem;

  display: flex;

  justify-content: center;

  gap: 1rem;

  flex-wrap: wrap;
}

.contact-btn {
  display: inline-block;

  padding: 1rem 2rem;

  border-radius: 16px;

  text-decoration: none;

  border: 1px solid rgba(255, 255, 255, 0.1);

  color: #a855f7;

  transition: all 0.1s ease;
}

.contact-btn:hover {
  transform: translateY(-4px);
  background: linear-gradient(135deg, #22d3ee, #a855f7);
  color: white;
}
