.cta {
  position: relative;

  padding: 12rem 0;

  overflow: hidden;
}

/*BACKGROUND*/
.cta__background {
  position: absolute;

  inset: 0;

  background:
    radial-gradient(
      circle at 20% 20%,
      rgba(168, 85, 247, 0.35),
      transparent 40%
    ),
    radial-gradient(
      circle at 80% 80%,
      rgba(34, 211, 238, 0.25),
      transparent 40%
    ),
    radial-gradient(
      circle at center,
      rgba(255, 255, 255, 0.04),
      transparent 70%
    );

  filter: blur(80px);
}

/*CONTENT*/
.cta__content {
  position: relative;

  width: min(900px, 90%);

  margin: 0 auto;

  text-align: center;

  z-index: 2;
}

/*BADGE*/
.cta__badge {
  display: inline-block;

  padding: 0.6rem 1rem;

  border-radius: 999px;

  background: rgba(34, 211, 238, 0.1);

  color: #22d3ee;

  margin-bottom: 1.5rem;
}

/*TITLE*/
.cta h2 {
  font-size: clamp(3rem, 7vw, 5rem);

  line-height: 1.1;

  margin-bottom: 1.5rem;
}

/*TEXT*/
.cta p {
  max-width: 700px;

  margin: 0 auto 3rem;

  color: #94a3b8;

  font-size: 1.1rem;
}

/*BUTTON*/
.cta__button {
  border: none;

  padding: 1rem 2rem;

  border-radius: 999px;

  font-size: 1rem;

  font-weight: 600;

  cursor: pointer;

  background: linear-gradient(135deg, #22d3ee, #a855f7);

  color: white;

  transition: 0.3s;
}

.cta__button:hover {
  transform: translateY(-4px);
}
